# local
.vscode
trash

# Project
projects/*
!projects/default
projects/default/maps/*
!projects/default/maps/map00

# Python
__pycache__/
*.py[cod]
share/python-wheels/

# venv files
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv